---
layout: page
title: Recent Posts
tagline: 
---
{% include JB/setup %}

<div class="span8">
{% for post in paginator.posts %}
  <p class="author">
    <span class="date">{{post.date| date_to_long_string}}</span>
  </p>
  <h1><a class="brand" href="{{ post.url }}">{{ post.title }}</a></h1>
  <h5>{{post.description}}</h5>

  <div class="content">
    {{ post | only_first_p }}
  </div>
{% endfor %}

<hr>
<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li><a href="/page{{paginator.previous_page}}" class="previous">Previous</a></li>
  {% endif %}
  <li><span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span></li>
  {% if paginator.next_page %}
    <li><a href="/page{{paginator.next_page}}" class="next ">Next</a></li>
  {% endif %}
</ul>
</div>
</hr>
</div>